/*Criaturas*/
#canvas div.criatura{
  background-color: transparent;
  transform-origin: 50% 50%;
  border: 0px solid black;
}

#canvas div.criatura.size-normal{ height: 48px; width: 48px;}
#canvas div.criatura.size-large{ height: 98px; width: 98px;}
#canvas div.criatura.size-huge{ height: 148px; width: 145px;}
#canvas div.criatura.size-gargantuan{ height: 198px; width: 195px;}
#canvas div.criatura.size-colossal{ height: 298px; width: 298px;}

#canvas div.criatura > img { margin: 5px;}
#canvas div.criatura.size-normal > img { height: 40px; width: 40px; -webkit-border-radius: 20px;}
#canvas div.criatura.size-large > img { height: 90px; width: 90px; -webkit-border-radius: 45px;}
#canvas div.criatura.size-huge > img { height: 140px; width: 140px; -webkit-border-radius: 70px;}
#canvas div.criatura.size-gargantuan > img { height: 190px; width: 190px; -webkit-border-radius: 95px;}
#canvas div.criatura.size-colossal > img { height: 290px; width: 290px; -webkit-border-radius: 145px;}

/*
Ranger  rojo
Warrior  purpura
Rogue  naranja
Clerigo amarillo
Mago Azul
Druida Verde
Paladin blanco

npc marron
*/

#canvas div.criatura > .flat {
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
  background-color: black!important;
  border-radius: 50%;
  box-shadow: 0px 0px 15px black;  

  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-transform:capitalize;
}

#canvas div.criatura.current {
  z-index: 10;
}
#canvas div.criatura.current > .flat {
  background-color: #330066!important;
  box-shadow: 0px 0px 15px #330066;  
}

#canvas div.criatura.non-selectable {
  opacity: 0.5;
  pointer-events: none;
}

#canvas div.criatura.orientation-n { transform: rotateZ(0deg); }
#canvas div.criatura.orientation-e { transform: rotateZ(90deg); }
#canvas div.criatura.orientation-s { transform: rotateZ(180deg); }
#canvas div.criatura.orientation-w { transform: rotateZ(270deg); }

#canvas div.criatura.orientation-ne { transform: rotateZ(45deg); }
#canvas div.criatura.orientation-se { transform: rotateZ(135deg); }
#canvas div.criatura.orientation-sw { transform: rotateZ(225deg); }
#canvas div.criatura.orientation-nw { transform: rotateZ(315deg); }


.tresD > div.criatura > .flat {
/*  background: radial-gradient(black, #dddddd); */
}
:not(.tresD) > div.criatura > .stand-up { display:none; }

div.criatura > .stand-up {
  transform-origin: 50% 100%;
  transform: rotateX(-90deg)!important;
  top: -75px!important;
  height: 100px!important;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
}

:not(.tresD) > div.criatura.char > .flat { background-image: url("img/char-flat.png"); }
div.criatura.char > .stand-up { background-image: url("img/char-stand-up.png"); }

/*
Render de Criaturas
Datos necesarios:
-Orientacion
-char name (clase p/sprites)
-Ubicacion en el mapa

<div class="criatura orientation-sw char" style="top:350px; left:250px;">
  <div class="flat"></div>
  <div class="stand-up"></div>
</div>

Usar para el momento de mover piezas, para que se pueda clickear el tablero y no las piezas
http://stackoverflow.com/questions/6300635/how-to-make-an-element-transparent-to-clicks-but-still-visible
*/