/* Radial Progress custom colors */
.blood-red .circle .mask .fill { background-color: #a71d1d; }
.blood-red .inset .percentage .numbers span { color: #a71d1d; }

.experience-green .circle .mask .fill { background-color: #1da72e; }
.experience-green .inset .percentage .numbers span { color: #1da72e; }

/* Ataques */
.attack-values { font-size: 3em; }

/* Weapon Stats */
.table > tbody > tr > th {
  width: 120px;
}

.attrib-label {
  text-transform: uppercase;
}
