<template name="dashboard">
  <h1 class="page-header">Dashboard</h1>

  <div class="row">
    <div class="col-xs-6 col-sm-3 placeholders">
      {{> widgetBar life}}
      {{> widgetHealthInput }}
    </div>
    <div class="col-xs-6 col-sm-3 placeholders">
      {{> widgetBar experience}}
      {{> widgetExperienceInput }}
    </div>
    <div class="col-xs-12 col-sm-6">
      {{> widgetAttack }}
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          {{> widgetDistanceInput }}
        </div>
        <div class="col-xs-12 col-sm-6">
          {{> widgetRoundTypeInput }}
          {{> widgetCombatManeuver }}
        </div>
      </div>

    </div>
  </div>

  <h2 class="sub-header">Inventario</h2>
  {{> inventario}}
  <div class="row">
    <div class="col-sm-6">
      {{> widgetFeats }}
    </div>
    <div class="col-sm-6">
      {{> widgetMagic }}
    </div>
  </div>

</template>
