<template name="skillsList">
  <div class="form-inline">
    <div class="form-group">
      <label for="diceInput">Dice</label>
      <input type="number" class="form-control" min="0" max="20" id="diceInput" placeholder="0" value={{diceValue}}>
    </div>
  </div>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Skill Name</th>
        <th class="text-center">Total Bonus</th>
        <th>Ability</th>
        <th class="text-center">Modifier</th>
        <th class="text-center">Ranks {{usedRanks}}/{{maxRanks}}</th>
        <th class="text-center">Miscellaneous Modifier</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th>Skill Name</th>
        <th class="text-center">Total Bonus</th>
        <th>Ability</th>
        <th class="text-center">Modifier</th>
        <th class="text-center">Ranks {{usedRanks}}/{{maxRanks}}</th>
        <th class="text-center">Miscellaneous Modifier</th>
      </tr>
    </tfoot>
    <tbody>
      {{#each skills}}
        {{> skillRow}}
      {{/each}}
    </tbody>
  </table>
</template>

<template name="skillRow">
  <tr class="{{#if cantUse}}danger{{/if}}">
    <td>{{#if clasea}}<i class="fa fa-certificate"></i>{{/if}}</td>
    <td>{{this.name}}</td>
    <td class="info text-center"><strong>{{totalBonus aModifier ranks mModifier}}</strong></td>
    <td class="text-uppercase text">{{this.ability}}</td>
    <td class="text-center">{{aModifier}}</td>
    <td class="text-center"><button type="button" class="btn btn-danger btn-xs minus-rank">-</button> {{ranks}} <button type="button" class="btn btn-success btn-xs plus-rank">+</button></td>
    <td class="text-center">{{mModifier}}</td>
  </tr>
</template>
