<template name="archivosList">
  <h2>Files</h2>
    <table class="table">

    <thead>
      <tr>
        {{#if isInRole 'master'}}<th>Id</th>{{/if}}
        <th>Description</th>
        <th>File Name</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="{{#if isInRole 'master'}}5{{else}}4{{/if}}"></td>
      </tr>
    </tfoot>

    <tbody>
      {{#each listaArchivos}}
        <tr data-id="{{_id}}">
          {{#if isInRole 'master'}}
            <td>
              {{_id}}
            </td>
          {{/if}}
          <td>
            {{descripcion}}
          </td>
          <td>
            {{file.original_name}}
          </td>
          <td>
            {{type}}
          </td>
          <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="acciones">
                <button type="button" class="btn btn-default ver-archivo"><i class="fa fa-eye"></i></button>
                {{#if currentUser }}
                  {{#if isInRole 'master'}}
                    <button type="button" class="btn btn-default del-archivo"><i class="fa fa-remove"></i></button>
                  {{/if}}
                {{/if}}
              </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{> fileUpload }}
</template>


<template name="fileUpload">
  <br>
  <h3>Upload</h3>
  <div class="fileUpload form-horizontal">
    <div class="form-group">
      <label for="file-bag" class="col-sm-2 control-label">File</label>
      <div class="col-sm-10">
        <input type="file" class="form-control file-bag">
      </div>
    </div>
    <div class="form-group">
      <label for="file-desc" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="file-desc" placeholder="Description">
      </div>
    </div>
    <div class="form-group">
      <label for="char-class" class="col-sm-2 control-label">Type</label>
      <div class="col-sm-10">
        <select class="form-control" id="file-type">
          <option value="map-background">Map Background</option>
          <option value="char-profile">Character 2D</option>
          <option value="char-standUp">Character 3D</option>
        </select> 
      </div>
    </div>
    <button class="btn btn-default upload">Upload</button>
    {{#each files}}
      <div class="progress">
        <div class="progress-bar{{#if complete}} progress-bar-success{{/if}}" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
          {{this.file.original_name}}<span class="sr-only">{{percent_uploaded}}% Complete</span>
        </div>
      </div>
    {{/each}}
  </div>
</template>


