<template name="charNew">
  <h2>Nuevo Personaje</h2>
  <form class="form-horizontal new-char">
    <div class="form-group">
      <label for="char-name" class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="char-name" placeholder="Nombre">
      </div>
    </div>
    <div class="form-group">
      <label for="char-class" class="col-sm-2 control-label">Clase</label>
      <div class="col-sm-10">
        <select class="form-control" id="char-class">
          <option>Barbarian</option>
          <option>Bard</option>
          <option>Cleric</option>
          <option>Druid</option>
          <option>Fighter</option>
          <option>Monk</option>
          <option>Paladin</option>
          <option>Ranger</option>
          <option>Rogue</option>
          <option>Sorcerer</option>
          <option>Wizard</option>
          <option>Oracle</option>
        </select> 
      </div>
    </div>
    <div class="form-group">
      <label for="char-size" class="col-sm-2 control-label">Tamaño</label>
      <div class="col-sm-10">
        <select class="form-control" id="char-size">
          <option>Normal</option>
          <option>Large</option>
          <option>Huge</option>
          <option>Gargantuan</option>
          <option>Colossal</option>
        </select> 
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Crear</button>
      </div>
    </div>
  </form>
</template>


<template name="charList">
  <div class="list-group">
    {{#each userChars}}
      <a href="#" class="list-group-item{{#if isCharActive}} active{{/if}} select-char" data-id="{{this._id}}">{{this.info.name}}</a>
    {{else}}
      <a href="#" class="list-group-item disabled">No posee ningun personaje</a>
    {{/each}}
  </div>
    
  <div class="list-group">
    <a href="#" class="list-group-item new-char"><i class="fa fa-plus"></i> Crear nuevo</a>
    <a href="#" class="list-group-item remove-char"><i class="fa fa-minus"></i> Borrar seleccionado</a>
  </div>
</template>