<template name="inventario">
  <h3>Armas</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        {{#each armas}}
          <a href="#" class="list-group-item weapon-btn">{{this.desc}} {{#if this.inUse}}<span class="badge">active</span>{{/if}}</a>
        {{/each}}
      </div>
    </div>
    <div class="col-md-9">
      {{> weaponStats }}
    </div>
  </div>
</template>

<template name="weaponStats">
  {{#if arma}}
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>Type</th><td class="text-capitalize">{{arma.type}}</td>
        </tr>
        <tr>
          <th>Critic Range</th><td>{{criticRange arma}}</td>
        </tr>
        <tr>
          <th>Critic Multi</th><td>x{{arma.criticMulti}}</td>
        </tr>
        <tr>
          <th>Damage</th><td>{{ arma.cantdado }}d{{ arma.dado}} + {{ arma.bonificador }} <span class="badge text-capitalize">{{arma.damage_type}}</span></td>
        </tr>
        <tr>
          <th>Extra</th>
          <td>
            {{#each arma.dadosextra}}
              {{this.cantdado}}d{{this.dado}} <span class="badge text-capitalize">{{this.damage_type}}</span>
            {{else}}
              -
            {{/each}}
          </td>
        </tr>
        <tr>
          <th>Damage Range</th><td>{{ damageRange arma }} </td>
        </tr>
      </tbody>
    </table>
  {{else}}
    <p>No weapon selected</p>
  {{/if}}
</template>
