<template name="mapList">
  <h2>Maps</h2>
    <table class="table">

    <thead>
      <tr>
        {{#if isInRole 'master'}}<th>Id</th>{{/if}}
        <th>Description</th>
        <th>Width</th>
        <th>Height</th>
        <th>Action</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="{{#if isInRole 'master'}}5{{else}}4{{/if}}"></td>
      </tr>
    </tfoot>

    <tbody>
      {{#each listaMapas}}
        <tr data-id="{{_id}}">
          {{#if isInRole 'master'}}
            <td>
              {{_id}}
            </td>
          {{/if}}
          <td>
            {{info.descripcion}}
          </td>
          <td>
            {{info.ancho}}
          </td>
          <td>
            {{info.alto}}
          </td>
          <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="acciones">
                <button type="button" class="btn btn-default ver-mapa"><i class="fa fa-eye"></i></button>
                {{#if currentUser }}
                  {{#if isInRole 'jugador,master'}}
                    <button type="button" class="btn btn-default play-mapa"><i class="fa fa-gamepad"></i></button>
                  {{/if}}
                  {{#if isInRole 'master'}}
                    <button type="button" class="btn btn-default edit-mapa"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-default del-mapa"><i class="fa fa-remove"></i></button>
                  {{/if}}
                {{/if}}
              </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="mapaLayout">
  <div>
  <p>
    {{this.info.descripcion}}
    <button type="button" class="btn btn-default btn-xs tresd-toggle">
       <i class="fa fa-cube"></i>
    </button>
    <button type="button" class="btn btn-default btn-xs map-change">
       <i class="fa fa-th"></i>
    </button>
    | actions
    <button type="button" class="btn btn-default btn-xs pj-move {{isAction 'play'}}">
      <i class="fa fa-arrows"></i>
    </button>
    <button type="button" class="btn btn-default btn-xs pj-target {{isAction 'target'}}">
      <i class="fa fa-crosshairs"></i>
    </button>
    <button type="button" class="btn btn-default btn-xs pj-remove">
      <i class="fa fa-trash-o fa-2"></i>
    </button>
    | {{actionTextHelper}}
   </p>
  </div>
  <div class="canvas-wrapper" style="{{canvasWidth}}">
    <div id="canvas" style="{{altura}}" data-id="{{_id}}">
      <div class="background-mapa {{desc}}" style="{{backgroundStyle}}"></div>
      <div class="background-grid" style="{{backgroundSize}}"></div>
      {{#each npcs}}
        <div class="{{estilo}} {{toLowerCase info.class}} criatura size-{{toLowerCase info.size}} {{isPjActive}}" style="{{position}}" data-id="{{_id}}" data-name="{{info.name}}">
          <div class="flat" data-injuries="{{healthStatus info.health}}">{{shortName info.name}}</div>
        </div>
      {{/each}}
      <div class="click-layer{{#if isTargeting}} hide{{/if}}" style="{{backgroundSize}}"></div>
    </div>
  </div>
</template>


<template name="mapaPlay">
  <div id="content-wrapper">
    {{> mapaLayout}}
  </div>
</template>

<template name="mapaForm">
  <h2>{{action}} Map</h2>
  <form class="mapForm">
    <div class="form-group">
      <label for="descripcionMapa">Description</label>
      <input type="text" class="form-control" id="descripcionMapa" placeholder="Descripcion" aria-describedby="helpDescripcion" value="{{this.info.descripcion}}">
      <span id="helpDescripcion" class="help-block">La descripcion ayuda al momento de seleccionar un mapa de la lista</span>
    </div>
    <div class="form-group">
      <label for="anchoMapa">Width</label>
      <input type="number" class="form-control" id="anchoMapa" placeholder="Ancho" aria-describedby="helpAncho" min="1" value="{{this.info.ancho}}">
      <span id="helpAncho" class="help-block">El ancho de su mapa sera de {{piesAncho}}</span>
    </div>
    <div class="form-group">
      <label for="altoMapa">Height</label>
      <input type="number" class="form-control" id="altoMapa" placeholder="Alto" aria-describedby="helpAlto" min="1" value="{{this.info.alto}}">
      <span id="helpAlto" class="help-block">El ancho de su mapa sera de {{piesAlto}}</span>
    </div>
    <div class="form-group">
      <label for="terrenoMapa">Base terrain</label>
      <input type="text" class="form-control" id="terrenoMapa" placeholder="Clase del terreno" value="{{this.info.terrenoDefault}}">
    </div>
    <div class="form-group">
      <label for="fondosRadios">Map Background</label>

      {{#each files}}
        <div class="radio">
          <label>
            <input type="radio" name="fondosRadios" id="optionsRadios{{this._id}}" value="{{this._id}}" {{checked .. }}>
            {{this.descripcion}}
          </label>
        </div>
      {{/each}}

    </div>
    <button type="submit" class="btn btn-default actualizar-mapa">Save</button>
  </form>
</template>
