<template name="dashboardsidebar">
  <ul class="nav nav-sidebar">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Feats</a></li>
    <li><a href="#">Skills</a></li>
    <li><a href="#">Other</a></li>
  </ul>
</template>

<template name="mastertoolbar">
  <div class="panel panel-default">
    <div class="panel-heading">Maps</div>
    <div class="panel-body">
      <p>(intro)</p>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item" data-route="listmap">List</a>
      <a href="#" class="list-group-item" data-route="newmap">New</a>
      <a href="#" class="list-group-item" data-route="archivos">Files</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">NPCs</div>
    <div class="panel-body">
      <p>(intro)</p>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item" data-route="listnpc">List</a>
      <a href="#" class="list-group-item" data-route="newnpc">New</a>
    </div>
  </div>
</template>