<template name="dashboardsidebar">
  <ul class="nav nav-sidebar">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Habilidades</a></li>
    <li><a href="#">Skills</a></li>
    <li><a href="#">Otros</a></li>
  </ul>
</template>

<template name="mastertoolbar">
  <div class="panel panel-default">
    <div class="panel-heading">Mapas</div>
    <div class="panel-body">
      <p>(intro)</p>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item" data-route="listmap">Listado</a>
      <a href="#" class="list-group-item" data-route="newmap">Crear nuevo</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">NPCs</div>
    <div class="panel-body">
      <p>(intro)</p>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item" data-route="listnpc">Listado</a>
      <a href="#" class="list-group-item" data-route="newnpc">Crear nuevo</a>
    </div>
  </div>
</template>