<template name="widgetBar">
  <div class="radial-progress {{ this.color }}" data-progress="{{ this.progress }}">
    <div class="circle">
      <div class="mask full">
        <div class="fill"></div>
      </div>
      <div class="mask half">
        <div class="fill"></div>
        <div class="fill fix"></div>
      </div>
      <div class="shadow"></div>
    </div>
    <div class="inset">
      <div class="percentage">
        <div class="numbers">
          <span>{{ this.value }}</span>
        </div>
      </div>
    </div>
  </div>
  <h4>{{ this.label}}</h4>
  <span class="text-muted">{{ this.info }}</span>
</template>

<template name="widgetAttack">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Ataques</h3>
    </div>
    <table class="table">
      {{> ataques}}
    </table>
  </div>
</template>

<template name="widgetFeats">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Habilidades</h3>
    </div>
    <div class="list-group">
      {{> habilidades}}
    </div>
  </div>
</template>

<template name="widgetHealthInput">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Health</h3>
    </div>
    <div class="panel-body">
      <form class="form health-form">
        <div class="form-group">
          <input type="number" class="form-control" id="hp-input" placeholder="Hitpoints">
        </div>
        <div class="form-group">
          <a type="button" class="btn btn-default btn-danger btn-submit-health" data-value="damage">Damage</a>
          <a type="button" class="btn btn-default btn-success btn-submit-health" data-value="heal">Heal</a>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="widgetExperienceInput">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Experience</h3>
    </div>
    <div class="panel-body">
      <form class="form experience-form">
        <div class="form-group">
          <input type="number" class="form-control" id="xp-input" placeholder="Experience">
        </div>
        <div class="form-group">
          <a type="button" class="btn btn-default btn-danger btn-submit-experience" data-value="remove">Remove</a>
          <a type="button" class="btn btn-default btn-success btn-submit-experience" data-value="add">Add</a>
        </div>
      </form>
    </div>
  </div>
</template>

<template name="widgetDistanceInput">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Distance to Target</h3>
    </div>
    <div class="panel-body">
      <form class="form distance-to-target">
        <div class="form-group">
          <input type="number" class="form-control" id="dtt-input" placeholder="Feets">
        </div>
        <button type="submit" class="btn btn-default btn-success" value="set">Set</button>
        <span id="helpBlock" class="help-block">Current Distance: {{ currentDistance }} feets</span>
        <span id="helpBlock" class="help-block">Current Distance: {{ currentDistanceMts }} meters</span>
      </form>
    </div>
  </div>
</template>

<template name="widgetRoundTypeInput">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Round Type</h3>
    </div>
    <div class="panel-body">
      <a type="button" class="btn btn-default {{ roundTypeStyle 'standard' }} btn-round-type" data-value="standard">Standard</a>
      <a type="button" class="btn btn-default {{ roundTypeStyle 'full' }} btn-round-type" data-value="full">Full Attack</a>
    </div>
  </div>
</template>
