<head>
  <title>charStats</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" sizes="16x16 32x32" href="/favicon.png?v=1">
</head>
<body>
  {{> nav}}
</body>

<template name="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
      {{> sidebar}}
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {{> yield}}
      </div>
    </div>
  </div>
</template>