<template name="widgetCombatManeuver">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Combat Maneuver</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h4>CMB: <span class="label label-default">{{cmb}}</span></h4>
        </div>
        <div class="col-sm-6">
          <h4>CMD: <span class="label label-default">{{cmd}}</span></h4>
        </div>
      </div>
    </div>
  </div>
</template>
