<template name="widgetDistanceInput">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Distance to Target</h3>
    </div>
    <div class="panel-body">
      <form class="form distance-to-target">
        <div class="form-group">
          <input type="number" class="form-control" id="dtt-input" placeholder="Feets">
        </div>
        <button type="submit" class="btn btn-default btn-success" value="set">Set</button>
        <span id="helpBlock" class="help-block">Current: {{ currentDistance }} feets</span>
        <span id="helpBlock" class="help-block">Current: {{ currentDistanceMts }} meters</span>
      </form>
    </div>
  </div>
</template>
